# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ambientes virtuais
venv/
.venv/

# Build
build/
dist/

# Android / Kivy / Buildozer
.buildozer/
bin/
*.apk
*.aab

# Editores
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log